.main-header {
    background-color: #93BFB7; 
    color: black; 
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 30px;
    display: flex;
    justify-content: center; 
    text-align: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 1000;
}

body {
    background-color: #E9D8C8; 
    display: block;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black; 
}

.Pergament{
    background-image: url('../image/Pergament.png');
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    background-position: center;

    width: 750px;
    min-height: 800px; 
    padding: 300px 150px 150px 230px; 
    box-sizing: border-box; 
    margin-left: auto;
    margin-right: auto; 
    margin-top: 20px;

    text-align: center;
    line-height: 1.6;
}

.clues {
    padding-left: 30px;
}

.steps {
    padding-left: 30px;
}

.start-text {
    text-align: center;
    margin-right: 70px;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: -80px; 
    margin-bottom: 20px;
    color: #000;
}

p {
    margin: 10px 0;
    text-align: left;
    padding: 0 10px;
}

ol {
    text-align: left;
    list-style-position: inside;
    margin: 20px 0;
    padding: 0 10px;
}

.start-text {
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
}

.start-button {
    background-color: #A48365; 
    color: black;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    box-shadow: 0 3px 0 #7b5e47; 
    margin-top: 20px;
    margin-right: 100px;
}

.start-button:active {
    box-shadow: 0 1px 0 #7b5e47;
    transform: translateY(2px);
}